body {
  margin: 0;
  padding: 0;
  font-family: Block, 'Times New Roman', Times, serif;
  background-image: url('/IMG_6237.JPG');
  background-size: cover;
  background-repeat: repeat;
  backdrop-filter: blur(2px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: verticalScroll 15s linear infinite;
}

@keyframes verticalScroll {
  0% {
    background-position: center 0;
  }
  50% {
    background-position: center 50%;
  }
}

.app-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
  color: white;
}

h1 {
  font-size: 8rem;
  margin-bottom: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  width: 1100px;
  height: 50px;
  background-color: #333;
  border-radius: 25px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.search-box:hover {
  width: 200px;
  border-radius: 25px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.search-box:hover .search-input {
  opacity: 1;
  width: 100%;
}

.search-icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filter-section input[type="date"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-section button {
  padding: 8px 15px;
}